* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/cars2.jpg); */
  background-size: cover;
  background-position: right;
  padding: 10% 8%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
}
.back {
  position: absolute;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  background-position: right;
  width: 100%;
  height: 100%;
  top: 0%;
  background-color: aqua;

  left: 0;
  animation: change 20s infinite;
}
@keyframes change {
  0% {
    background-image: url(./images/5085779.jpg);
  }
  15% {
    background-image: url(./images2/images2.jpeg);
  }
  30% {
    background-image: url(./images2/images4.jpeg);
  }
  45% {
    background-image: url(./images2/images10.jpeg);
  }
  60% {
    background-image: url(./images2/images11.jpeg);
  }
  80% {
    background-image: url(./images2/images12.jpeg);
  }
  100% {
    background-image: url(./images2/images3.jpeg);
  }
}
.logo {
  width: 120px;
  height: 45px;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  color: white;
  justify-content: space-between;
  text-align: center;
  /* border: 2px solid red; */
  width: 100%;
  padding:0 15px ;
  margin:auto;
  height: auto;
}
nav ul {
  /* flex: 1; */
  text-align: right;
  /* padding: 30px; */
}
nav ul li {
  display: inline;
  list-style: none;
  margin: 0 40px;
  /* margin: 10px 30px; */
}
nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: white;
  transition: width 0.3s ease;
}
nav ul li a:hover:after {
  width: 70%;
}

.one{
  color: white ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.one span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2px transparent;
  background-image: linear-gradient(45deg, white 35%, lightskyblue 40%);
  -webkit-background-clip:text;
  background-position: 0px -90px;
  animation: back 20s linear infinite;
}
@keyframes back {
  100%{
      background-position: 4000px 0px;
  }
}
.cover{
  position: absolute;
  top: 20%;
  /* height: 60%; */
}
.hamburger{
  display: none;
  padding: 10px 25px;
  /* margin-left: 50px; */
}
.ham{
  display: block;
  margin: 7px auto;
  width: 35px;
  height: 4px;
  background-color: rgb(207, 200, 200);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 645px){
  .hamburger{display:block}
  .hamburger.active .ham:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .ham:nth-child(1){
      transform: translateY(16px) rotate(45deg);
      background-color: lightseagreen;
  }
  .hamburger.active .ham:nth-child(3){
      transform: translateY(-5px) rotate(-45deg);
      background-color: lightseagreen;
  }

  nav ul{
      position: fixed;
      left: -100%;
      gap: 0px;
      top: 12%;
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      background-color:rgb(8, 8, 17);
      flex-direction: column;
      text-align: center;
      transition: 0.3s;
      height: 100x;
      z-index: 1 ;
      border-radius: 15px 0 0px 15px;
  }
  nav ul li{
      margin: 13px 0;
  }
  nav ul.active{
      left:50%;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
div.content a {
  height: 60px;
  width: 120px;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0.5px 0.5px 15px rgb(92, 88, 88),
    -0.1px -0.1px 15px rgb(92, 88, 88);
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  transition: all 0.5s;
}
div.content a:hover{
    transform: scale(1.2);
    box-shadow: 3px 3px 25px rgb(92, 88, 88), -3px -3px 30px rgb(92, 88, 88);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.perfect {
  font-size: 2rem;
  margin-top: 10px;
  -webkit-background-clip:text;
  background-image: url(/images/SharedScreenshot.jpg);
  /* background-image: url(/images/one.jpg); */
  /* -webkit-text-stroke: 1px white; */
  -webkit-text-stroke: transparent;
  /* background-image: radial-gradient(white, black, violet, blue, white); */
  /* background-image: linear-gradient(white,gray,black,violet,white); */
  color: transparent;
  background-position: 70px -90px;
  animation: back 25s linear infinite;
}
@keyframes back {
  100% {
    background-position: 7000px 0px;
  }
}
/* .text{
    display: block;
    justify-items: center;
} */
div iframe {
  margin-left: -200px;
  margin: 20px;
  width: 300px;
}

.card {
  perspective: 1000px;
  background-color: transparent;
  width: 120px;
  height: 90px;
}
.inner_card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}
.content:hover .inner_card {
  transform: rotateY(180deg);
}
.front_card,
.back_card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* overflow: hidden; */
  display: block;
}
.front_card img{
  width: 60px;
  height: 60px;
}
.back_card img{
  width: 40px;
  height: 40px;
}
.card .twitter img{
  width: 40px;
  height: 35px;
}
.card .facebook {
  width: 40px;
  height: 35px;
}
.card .backimg img{
  padding: 0 5px;
}
.front_card {
    /* background-image: linear-gradient(45deg, yellow, blue); */
}
.back_card {
    transform: rotateY(180deg);
  /* background-image: linear-gradient(180deg, purple, pink); */
}

@media (max-width:365px) {
  .text h2, h1{
    font-size: 20px;
  }
  .perfect{
    font-size: 20px;
  }
  iframe{
    /* display: none; */
    width: 2px;
    height: 70px;
  }
  .content{
    gap: 10px;
    margin-left: -30px;
  }
  
}